*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	background-color: #fff;
}

body{
    font-size: 1.5rem;
    color: #000;
}

.svg-wrapper{
    display: none;
}

.wrapper{
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}

.header{
    padding-top: 50px;    
}

.logo{
    text-align: center;
}

.nav{
    font-family: 'Madre-script';
    font-size: 2rem;
    margin-top: 50px;
    border-bottom: 1px solid rgba(#000, .1);
    
    ul{
        border-top: 1px solid rgba(#000, .1);
        border-bottom: 1px solid rgba(#000, .1);
        text-align:  center;
        margin-bottom: 10px;
    }
    
    li{
        display: inline;
    }
    
    a{
        transition: color ease .2s;
        color: #828282;
        text-decoration: none;
        display: inline-block;
        padding: 20px 20px 15px;
        
        &:hover{
             color: #2c2c2c;
        }
    }
    
    .current_page_item a{
        color: $primaire;        
        border-bottom: 2px solid $primaire;
    }
}

.arabesque{
    
    text-align: center;
    
    svg{
        width: 200px;
        height: auto;
        
        path{
            fill: rgba(#000, .15);
        }
    }
}

.bt{
    transition: all ease .2s;
    display: inline-block;
    font-family: 'chaparral-pro';
    font-size: 2rem;
    text-decoration: none;
    padding: 1.2em 4em;
    border-radius: 50px;
    
    &:hover{
        padding: 1.2em 4.5em;
    }
}