*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	background-color: #fff;
}

body{
    font-size: 1.5rem;
    color: #000;
}

.svg-wrapper{
    display: none;
}

.wrapper{
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
}

.header{
    padding-top: 50px;    
}

.logo{
    text-align: center;
}

.wrapper-button{
    text-align: center;
    margin-top: 30px;
    
     @include width-above(601px){
        display: none;
    }
}

.bt.bt-menu{
    
    background-color: $primaire;
    color: #fff;
    border:0;
    margin: 0 auto;
    padding: 1em 2.5em;
    cursor: pointer;
}

.nav{
    font-family: 'Madre-script';
    font-size: 2rem;
    margin-top: 50px;
    border-bottom: 1px solid rgba(#000, .1);
    
    @include width-below(600px){
            transition: all ease .3s;
            transform-origin: top;
            transform: scaleY(0);
            max-height: 0;
            margin-top: 0;
            
            &.open{
                transform: scaleY(1);
                max-height: 1000px;
                margin-top: 40px;
            }
        }  
    
    ul{
        border-top: 1px solid rgba(#000, .1);
        border-bottom: 1px solid rgba(#000, .1);
        text-align:  center;
        margin-bottom: 10px;   
    }
    
    li{
        display: inline;
        
        @include width-below(600px){
            display: block;
        }
    }
    
    a{
        transition: color ease .2s;
        color: #828282;
        text-decoration: none;
        display: inline-block;
        padding: 20px 20px 15px;
        
        &:hover{
             color: #2c2c2c;
        }
    }
    
    .current_page_item a,
    .current-page-ancestor a,
    .current_page_parent a,
    .current-menu-item a{
        color: $primaire;        
        border-bottom: 2px solid $primaire;
    }
}

.arabesque{
    
    text-align: center;
    
    svg{
        width: 200px;
        height: auto;
        
        path{
            fill: rgba(#000, .15);
        }
    }
}

.bt{
    transition: all ease .2s;
    display: inline-block;
    font-family: 'chaparral-pro';
    font-size: 2rem;
    text-decoration: none;
    padding: 1.2em 4em;
    border-radius: 50px;
    
    &:hover{
        padding: 1.2em 4.5em;
    }
}