.slider{
    background-size: cover;
    background-position: center center;
    padding: 200px 50px 155px;
    text-align: center;
    outline: 1px solid rgba(#000, .15);
    outline-offset: 10px;
    
    .bt{
        background-color: #fff;
        color: inherit;
        position: relative;
        top:-30px;
    }
}

.slider-text{
    background-color: rgba($primaire, .9);
    padding: 50px;
    min-width: 80%; 
    display: inline-block;
    text-align: center;
    outline: 1px solid #fff;
    outline-offset: 10px;
    
    h1{
        font-size: 5rem;
        color: #fff;
        margin-bottom: 10px;
    }
    
    p{
        font-family: 'chaparral-pro';
        font-size: 2.5rem;
    }
    
    .arabesque{
        svg{
            width: 130px;
            height: 70px;
            
            path{
                fill: #fff;
            }
        }
        
        &:first-child{
            transform: rotate(180deg);
        }
    }
}

.cote-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.wrapper-cote{
    width: calc(50% - 10px);
    
    border: 1px solid rgba(#000, .15);
    padding: 10px;
    
    &:nth-child(odd){
        margin-right: 20px;
    }
}

.single-cote{
    text-align: center;
    padding: 130px 0 100px;
    background-color: #ebebeb;
    background-position: center center;
    
    .bt{
        background-color: $primaire;
        color: #fff;
        position: relative;
        top:-30px;
    }
}

.single-cote-text{
    background-color: rgba(#fff, .9);
    padding: 75px;
    min-width: 80%; 
    display: inline-block;
    text-align: center;
    outline: 1px solid #fff;
    outline-offset: 10px;
    
    .h1{
        font-size: 5rem;
        color: $primaire;
        margin-bottom: 10px;
    }
    
    p{
        font-family: 'chaparral-pro';
        font-size: 2.5rem;
    }
    
    .arabesque{
        svg{
            width: 130px;
            height: 70px;
            
            path{
                fill: #fff;
            }
        }
        
        &:first-child{
            transform: rotate(180deg);
        }
    }
}

.content-home{        
    position: relative;
    text-align: center;
    margin-top: 100px;
    
    h3{
        color: $primaire;
        font-size: 3rem;
    }
    
    p{
        margin-left: auto;
        margin-right: auto;
    }
    
    &::before{
		content: url('img/fleurtransparent.jpg');
		position: absolute;
		z-index: -1;
		top: -46px;
		left: 0;
        
        @include resolution-above("2dppx"){
           content: url('img/fleurtransparent@2x.jpg');
            transform-origin: 0 0;
            transform: scale(.5);
        }
	}
}