.header-offre{    
    text-align: center;
    margin-bottom: 50px;
    
    h1{
        font-size: 5rem;
        color: $primaire;
        margin-bottom: 10px;
    }
    
    p{
        font-family: "chaparral-pro";
        font-size: 2.5rem;
    }
}

.wrapper-img-offre{
    text-align: center;
}

.img-offre{
    padding: 10px;
    border: 1px solid rgba(#000, .15);
    display: inline-block;
    margin: 0 auto 50px;
    
    .border-offre{
        background-color: #ebebeb;
    }
}

.wrapper-offres{
    display: flex;
    flex-wrap: wrap;

    .single-presta{
        width: calc(100% / 3 - 40px / 3);
        margin-right: 20px;
        margin-bottom: 75px;
        text-align: center;
        
        &:nth-child(3n){
            margin-right: 0;
        }
        
        h3{
            font-size: 2.5rem;
            margin: .8em 0 .4em;
        }
        
        p{
            line-height: 1.4em;
            padding: 0 10%;
        }
    }
}

.img-presta{
    padding: 10px;
    border: 1px solid rgba(#000, .15);
}

.tab-menu{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 75px;
    
    li{
        font-family: "Madre-script";
        font-size: 3rem;
        width: 50%;
        text-align: center;
        
        &:not(.active){
            
            &:hover a{
                color: rgba(#000, .7);
                background-color: #f2f2f2;
            }
            
            a{
                color: rgba(#000, .3);
            }
        }
        
        a{
            transition: all ease .3s;
            display: block;
            color: inherit;
            padding: 25px 30px 15px;
            text-decoration: none;
            background-color: #EBEBEB;
            border-bottom:1px solid $primaire;
        }
        
        &.active a{
            background-color: #fff;
            border-bottom: 0;
            border-top: 5px solid $primaire;
            border-right: 1px solid $primaire;
            border-left: 1px solid $primaire;
            padding: 30px 30px 20px;
            
            span{
                color: $primaire;
            }
        }
    }
}

.tab-content{
    .tab{
        display: none;
    }
}